#file: noinspection SpellCheckingInspection
name: Merge to fork
on:
  push:
    tags:
      - "1.*"
    tags-ignore:
      - "1.*-*"
jobs:
  fork:
    if: github.repository_owner == 'OmegaRogue'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Merge Fork
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: main
          target_branch: pull-request-no-injection
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: create pull request
        if: failure()
        run: gh pr create -B pull-request-no-injection -H main --title 'Merge main into pull-request-no-injection' --body 'Created by Github action'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
